@media (max-width: 700px) {
  #fireworks {
    width: 150px;
  }
  #titleTks {
    font-size: 20px;
  }
}

@media (max-width: 490px) {
  p {
    padding: 2em;
  }
  #titleTks {
    font-size: 18px;
  }
  #description {
    font-size: 15px;
  }
  #contact_list {
    padding: 10px;
  }
  #ico_contact_list {
    width: 30px;
  }
  #flags,
  #fireworksContainer{
    position: static;
  }
  #imgEuaFlag,
  #imgBrFlag {
    width: 30px;
  }
  #container{
    margin-top: -20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  #fireworks {
    margin-top: -20px;
    width: 80px;
    padding-top: 0;
  }
  #contact_list:hover {
    transform: scale(1.2);
  }
}
